BOT_TOKEN=
ADMIN_USER_ID=
GROQ_API_KEY=
POSTGRES_PASSWORD=
DATABASE_URL=postgresql+asyncpg://digest:password@postgres:5432/digest_bot
TELEGRAM_API_ID=2040
TELEGRAM_API_HASH=b18441a1ff607e10a989891a5462e627
